<div class="step-template">
    <h2>Airdrop Details</h2>

    <table>
        <tr>
          <td><span class="step-content-label">Airdrop Name</span></td>
          <input type="text" [(ngModel)]="stepsService.data.name">
        </tr>
        <tr>
          <td><span class="step-content-label">Airdrop Type</span></td>
          <td><input [(ngModel)]="stepsService.data.type" disabled></td>
        </tr>
        <tr>
          <td><span class="step-content-label">Chain</span></td>
          <td><input [(ngModel)]="stepsService.data.chain" disabled></td>
        </tr>
    </table>

</div>

